doctype html
html
  head
    title= title

    meta(name='description' content='The BoogeyBots Team Blog')
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
    // Icons
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

    // Bootstrap
    link(rel='stylesheet' href='/stylesheets/bootstrap.css')

    link(rel='stylesheet' href='/stylesheets/style.css')

    block head
  body
    include ../includes/navbar-fixed-top

    block content

    script(src='/javascripts/jquery-3.3.1.js')
    script(src='/javascripts/bootstrap.bundle.js')

    block bottom