body {
  margin-top: 60px;
  padding: 50px;
  font: 1.2em "Ubuntu", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
}

.navbar:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}