extends ../layouts/navbar-fixed-top-layout

block head
	link(rel='stylesheet' href='/stylesheets/posts.css')

block content
	.container
		#postholder

		button#loadmore.btn.btn-primary Load more...

block bottom
	script(src='/javascripts/posts.js')