extends ../layouts/navbar-fixed-top-layout

block head
	link(rel='stylesheet' href='/stylesheets/posts.css')
	link(rel="stylesheet" link href="https://fonts.googleapis.com/css?family=Ubuntu" )



block content
	.container
		#postholder

		button#loadmore.btn.btn-primary Load more...

block bottom
	script(src='/javascripts/posts.js')